{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationChauffeurForm) }}

    {{ form_start(registrationChauffeurForm) }}
    {{ form_row(registrationChauffeurForm.email) }}
    {{ form_row(registrationChauffeurForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationChauffeurForm.agreeTerms) }}

    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationChauffeurForm) }}
{% endblock %}